@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap");
@import url("https://use.typekit.net/tni3mvd.css");
// Font.
$font: (
  primary: (
    "abril-text",
    serif,
  ),
  secondary: (
    "Poppins",
    sans-serif,
  ),
);

// Palette.
$palette: (
  primary: #536171,
  secondary: darken(#536171, 15%),
  meta: lighten(#536171, 25%),
  border: lighten(#536171, 52%),
  bg: lighten(#536171, 58%),
  accent: #be7f4b,
  accent-blue: #108afb,
  accent-black: #333b45,
  accent-red: #f8646c,
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/intro";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";
